<div class="row">
    <form class="col s12" #form="ngForm" (ngSubmit)="addContact(form.value)">
        <div class="row">
            <div class="input-field col s4">
                <input placeholder="Prenom" name="firstName" type="text" [(ngModel)]="firstName">
            </div>
            <div class="input-field col s4">
                <input placeholder="Nom" name="lastName" type="text" [(ngModel)]="lastName">
            </div>
            <div class="input-field col s4">
                <input placeholder="Téléphone" name="phone" type="text" [(ngModel)]="phone">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input placeholder="Courriel" name="email" type="text" [(ngModel)]="email">
            </div>
            <div class="input-field col s4">
                <input placeholder="Compagnie" name="company" type="text" [(ngModel)]="company">
            </div>
            <button class="waves-effect waves-light btn" id="btn" type="submit">Ajouter contact</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s12 m4" *ngFor="let contact of contacts" [@contactsAnimation]="state">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="http://images.pexels.com/photos/91227/pexels-photo-91227.jpeg">
                <span class="card-title">{{ contact.firstName}} {{ contact.lastName }}</span>
            </div>
            <div class="card-content white-text">
                <span class="card-title">Details</span>
                <p>Courriel: {{ contact.email }}</p>
                <p>Tel.: {{ contact.phone }}</p>
            </div>
            <div class="card-action">
                <a href="#">{{ contact.company }}</a>
            </div>
        </div>
    </div>
</div>