  <div id="alertMsg">
    <p>{{message}}</p>
  </div> 
  <div class="connect">
    <!-- <p><strong>&hearts; Vous êtes connecté il y'a {{ secondes }} secondes</strong></p> -->
    <p><strong>&hearts; {{ secondes }}</strong></p>
  </div>
  
  <!-- Le contenu -->
  <div id="home" class="container">
    <app-article 
                 *ngFor = "let element of liste"
                 [titreArticle]="element.titreArticle" 
                 [prixArticle]="element.prixArticle" 
                 [description]="element.description"
                 [urlImg]="element.urlImg"
                 [textAltImg]="element.textAltImg"
                 [dispo]="element.dispo"
                 [idArticle]="element.id"
                 (info)="element.info"
                 >
    </app-article>
  </div>
  