* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'harryp';
    src: url('../assets/fonts/harryp.ttf');
}


body {
    font-family: harryp, Arial, Helvetica, sans-serif;
    /* background-color: #d4d4d062; */
    background-image: url("../assets/images/poudlard-bg.jpeg");
    position: relative;
    /* display: flex; */
    align-items: center;

    /* color: #f1c70a; */
}


header {
    top: 0;
    display: flex;
    padding: 20px;
    /* margin-bottom: 0.5px; */
    justify-content: space-between;
    align-items:center;
    background-color: #5e58c6;
    color: white;
    max-height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
    /* nav-index: 999; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    /* box-shadow: #252521; */
}

.logo {
    align-items: center;
    width: 60%;
    /* flex: 1; */
}

nav ul {
    right: 0;
    /* text-align: center; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: inline;
    /* align-items: center; */
}

nav ul li {
    text-align: center;
    display: inline;
    margin: 0 20px;
    width: 20%;
}

nav ul li a {
    text-align: center;
    text-decoration: underline;
    color: white;
    /* display: inline; */
    /* margin: 0 20px; */
}

nav ul li a:hover {
    text-decoration: none;
    color: #b2aef4;
    transform: scale(1.1);
    transition: 1s;
    /* display: inline; */
    /* margin: 0 20px; */
}

/*  */


/* CSS du carroussel */
main {
    margin-top: 100px;
    /* display: flex; */
    position: relative;
    align-items: center;
    max-height: 100%;
    padding: 2px;
    /* background-image: url('../assets/images/poudlard-bg.jpeg'); */
    background-repeat: initial;

    /* margin-top: 200px; */
}

h2 {
    color: #5e58c6;
}

.welcome-message {
    background-color: whitesmoke;
    opacity: 0.8;
    border: 1 solid black;
    border-radius: 1%;
    border-left: 5px solid #5e58c6;
    border-right: 5px solid #5e58c6;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 1s ease-in-out;
    /* overflow: scroll; */
}

.welcome-message:hover {
    transform: scale(1.1);
}

.welcome-message h2 {
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.welcome-message p {
    justify-content: center;
    width: 100%;
    /* padding-left: 25%; */
    align-items: center;
    word-wrap: normal;
    padding-bottom: 2%;
}


/* CSS of sots */
.sots {
    justify-content: center;
    padding: 5px;
    border-top: 2px #f1c70a solid;
}

.sotX {
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    /* display: inline; */
    max-width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

.sotXimg {
    flex: 1;
    max-width: 30%;
    margin-right: 2%;
    /* max-height: max-content; */
}

.sotXimg img {
    max-width: 100%;
    border: 1px solid #f1c70a;
    border-radius: 10%;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.sotXimg img:hover {
    animation: pulse 2s ease-in-out infinite;
    transform: scale(1.1);
    transform: rotate3d(1.2);
}

.sotXsection {
    opacity: 0.8;
    padding: 7px;
    border-radius: 5% 1% 1% 5%;
    border-left: 5px solid #f1c70a;
    background-color: whitesmoke;
    align-items: center;
    flex: 1;
    max-width: 70%;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

.sotXsection section {
    padding: 1%;
    max-width: 100%;
    text-align: justify;
}

.titleHarryp {
    text-align: center;    
}


/* soty CSS */

.sotY {
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.sotYimg {
    flex: 1;
    max-width: 30%;
    margin-left: 2%;
}

.sotYimg img {
    max-width: 100%;
    border: 1px solid #f1c70a;
    border-radius: 10%;
    transition: all 1s ease-in-out;
}

.sotYimg img:hover {
    transform: scale(1.1);
    /* rotate: 15deg; */
}

.sotYsection {
    opacity: 0.8;
    padding: 7px;
    border-radius: 1% 5% 5% 1%;
    border-right: 5px solid #7bc922;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 70%;
    transition: all 1s ease-in-out;
}

.magTitle {
    text-align: center;
}

.sotYsection section {
    margin: 1%;
    max-width: calc(100%-50%);
    transition: all 1s ease-in-out;
    text-align: justify;
    /* max-height: max-content; */
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #5e58c6;
    color: white;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
}