
@font-face {
    font-family: harryp;
    src: url(../assets/fonts/harryp.ttf);
}

$navColor: #5e58c6;
$navthemeColor: White;
$linkSize: 1.5rem;
$textSize: 23px;
$shadow: 0 4px 30px rgba(0, 0, 0, 1);
$shadowHover: 0 4px 10px rgba(0, 0, 0, 1);