@import 'mixins';
@import 'fonts';

// * {
//     box-sizing: border-box;
// }

body {
    font-size: 16px;
    @include fontFace(harryp);
    background-image: $bg;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    
    @include fixNav;
    display: flex;
    justify-content: space-between;
    background-color: $navColor;
    color:white;
    box-shadow: $shadow;

    .logo {
        width: 40%;
        text-align: center;
    }

    nav {
        width: 50%;
    }

    nav ul {
        width: 90%;
        display: flex;
        flex-direction: row;
        row-gap: 2%;
        justify-content: center;
        align-items: center;
    }
    nav ul li {
        margin-left: 10%;
        font-size: $linkSize;

    }
    nav ul li a {
        text-align: center;
        color: $navthemeColor;
    }

   @include linkHover;
}

/* CSS du carroussel */
main {
    margin-top: 100px;
    position: relative;
    align-items: center;
    max-height: 100%;
    padding: 2px;
}

h2 {
    color: $navColor;
}

.welcome-message {
    background-color: whitesmoke;
    opacity: 0.8;
    @include WlcMessageDesign;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    justify-content: center;
    text-align: center;
    align-items: center;
    h2 {
        font-size: $linkSize;
        align-items: center;
        justify-content: center;
        padding: 2%;
    }

    p {
        justify-content: center;
        width: 100%;
        /* padding-left: 25%; */
        align-items: center;
        word-wrap: normal;
        padding-bottom: 2%;
        font-size: $textSize;
    }
}

.welcome-message:hover {
    transform: scale(1.1);
}


/* CSS of sots */
.sots {
    justify-content: center;
    padding: 5px;
    border-top: 2px #f1c70a solid;
    .sotX {
        padding: 2% 2%;
        max-width: 100%;
        }
        .sotXsection {
            max-width: 100%;
            opacity: 0.8;
            padding: 7px;
            border-radius: 5% 1% 1% 5%;
            border-left: 5px solid #f1c70a;
            background-color: whitesmoke;
            transition: all 1s ease-in-out;
            box-shadow: $shadow;

            section {
                .titleHarryp {
                    text-align: center;    
                }
                padding: 1%;
                margin: 3%;
                max-width: 100%;
                text-align: justify;
                p{
                    font-size: $textSize;
                }
            }
            .sotXimg {
                float: left;
                max-width: 30%;
                margin: 3%;
                img {
                    max-width: 100%;
                    border: 1px solid #f1c70a;
                    border-radius: 10%;
                    transition: all 1s ease-in-out;
                    z-index: 1;
                    box-shadow: $shadow;
                    @keyframes pulse {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.05);
                            box-shadow: $shadowHover;

                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                    &:hover {
                        @include imgAnimation(pulse);
                    }
                    
                }
            }
        }
        /* soty CSS */

    .sotY {
        padding: 2% 2%;
        max-width: 100%;
        .sotYsection {
            opacity: 0.8;
            padding: 7px;
            border-radius: 1% 5% 5% 1%;
            border-right: 5px solid #7bc922;
            background-color: whitesmoke;
            width: 100%;
            transition: all 1s ease-in-out;
            
            section {
                .magTitle {
                    text-align: center;
                }
                padding: 1%;
                margin: 3%;
                max-width: 100%;
                text-align: justify;
                p{
                    font-size: $textSize;
                }
            }
            .sotYimg {
                float: right;
                max-width: 30%;
                margin: 3%;
                img {
                    max-width: 100%;
                    border: 1px solid #f1c70a;
                    border-radius: 10%;
                    transition: all 1s ease-in-out;
                    box-shadow: $shadow;
                    &:hover {
                        transform: scale(1.05);
                        box-shadow: $shadowHover;
                    }
                }
                
            }
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: $navColor;
    color: white;
    width: 100%;
    bottom: 0;
    a {
        color: white;
    }
}


@media (max-width: 768px) {
    #themes {
      flex-direction: column;
      align-items: center;
    }
  
    .sots {
      width: 80%;
      margin-bottom: 20px;
    }
}