<div class="login-position">

  <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="username" class="form-label">Identifiant</label>
        <input type="text" class="form-control" id="username" placeholder="Entrez votre identifiant" formControlname="username">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Entrez un mot de passe" formControlname="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="mt-3">
        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
        <a routerLink="/signup">Vous n'avez pas de compte ?</a>
      </div>
    </form>
</div>