<div class="my-5" id="container">

    <h1>Ajouter un nouvel article</h1>
    
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="">Titre</label>
        <!-- <input type="text" name="title" [(ngModel)]="titleToAdd" minlength="4" required #title="ngModel"> -->
        <input type="text" id="title" name="title" [formControl]="titleToAdd" minlength="4" required>
        <div *ngIf="titleToAdd.invalid && (titleToAdd.dirty || titleToAdd.touched)">
            <div class="text-danger" *ngIf="titleToAdd.errors?.['required']">
                Le champ Titre est obligatoire!
            </div>
            <div class="text-danger" *ngIf="titleToAdd.errors?.['minlenght']">
                Le titre doit avoir au minimum 4 caractères!
            </div>
        </div>
        <br>
        <label for="">Prix</label>
        <!-- <input type="text" name="price" [(ngModel)]="priceToAdd" required #price="ngModel"> -->
        <input type="text" name="price" [formControl]="priceToAdd" required>
        <div *ngIf="priceToAdd.invalid && (priceToAdd.dirty || priceToAdd.touched)">
            <div class="text-danger" *ngIf="priceToAdd.errors?.['required']">
                Le champ prix est obligatoire!
            </div>
        </div>
        <hr>
        <button class="btn btn-primary">Envoyer</button>
    </form>
</div>