<div class="card articleInfo">
  <img [src]="urlImg" class="card-img-top" [alt]="textAltImg">
  <div class="card-body">
    <h5 class="card-title" [ngStyle]="{ color: getColor() }">{{titreArticle | uppercase }}
      <span *ngIf="dispo === false"> - Indisponible</span>
    </h5>
    <h6 class="card-text">{{prixArticle}} &euro;</h6>
    <p class="card-text">{{description}}</p>
    <a class="p-4" id="details" routerLink="/details/{{ idArticle }}">=> Voir l'article</a>
    <!-- <a class="p-4" id="details" [routerLink]="['/details', 'idArticle']">=> Voir l'article</a> -->
    <hr>


    <button [ngClass]="{
              'show' : jaime === true,
              'coloTrue' : jaime === true,
              'hidden' : jaime === false
            }" 
            (click)="onLike()">&heartsuit;</button>

    <button [ngClass]="{
      'show' : jaime === false,
      'coloFalse' : jaime === false,
      'hidden' : jaime === true
    }" 
    (click)="onLike()" 
    class="nolike">&heartsuit;</button>

    <p>Nombre de like : {{totalNbrLike}}</p>

    <input type="text" placeholder="Ecris ton commentaire"  [(ngModel)]="comment">
    <p>Commentaire : {{comment}}</p>
  </div>
</div>
